<DOCTYPE=HTML>
<html>
	<head>
		<title>Task Lister</title>
	</head>
	<body background="/static/images/images.jpg">
		<ul>
		{% if user %}
		<li><a href="/logout"><b><em style="color: black; font-size: 20px"> Logout </em></b></a></li>
		<li><a href="/addtask"><b><em style="color: black; font-size: 20px"> Add Task </em></b></a></li>
		<li><a href="/edit"><b><em style="color: black; font-size: 20px"> Edit Task </em></b></a></li>
		{% endif %}
	</ul>
	<h1><b><em><center style="color: black; font-size: 50px"> TASK LISTER </center></em></b></h1>
	<form method="POST" align="center">
		{% csrf_token %}
		<label><b>Title:</b></label>
		<input type="text" name="title" placeholder="Title"><br><br>
		<label><b>Description:</b></label>
		<input type="text" name="description" placeholder="Description"><br><br>
		<input type="submit" value="Save Changes">
	</form>
	</body>
</html>