body {
	background-image:url("/static/images/1121.png");
 }
#header{
	position: fixed;
	top: -10px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}
li {
	display: inline-block;
}
#navbar {
	position: fixed;
	top:10px;
	left:20%;
	margin-left:-254px;
	color: black; 
	font-size: 20px
}
li a {
    display: block;
    padding: 2px 5px 2px 5px;
    float: left;
    margin: 0 5px 0 0;
    color: black;
  }
  #n {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 100px 10px;
  }