<html>
	<head>
			<title>Sign In</title>
		</head>
	<body style="text-align:center", background="/static/images/1121.png">
		<h1>Login!!</h1>
		<form method="POST">
			{% csrf_token %}
			<label><b><em  style="font-family: Arial;">Username:</em></b></label>
			<input type="text" name="username" placeholder="Username"><br><br>
			<label><b><em  style="font-family: Arial;">Password:</em></b></label>
			<input type="password" name="password" placeholder="******"><br><br>
			<input type="submit" value="Ok">
		</form>
	</body>
	</html>
	